## Rendicion

In [37]:
import pandas as pd

## 2023

In [27]:
df = pd.read_csv("rendicion/2023/ArchivoC_Adm2023.csv", sep=";", low_memory=False)

In [32]:
df = df.drop(columns=["MATE1_REG_ANTERIOR", "HCSOC_REG_ANTERIOR", "CIEN_REG_ANTERIOR", "MODULO_REG_ANTERIOR", "CLEC_REG_ANTERIOR"])

In [34]:
df

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA_EDUCACIONAL,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PORC_SUP_NOTAS,...,MATE1_REG_ACTUAL,MATE2_REG_ACTUAL,HCSOC_REG_ACTUAL,CIEN_REG_ACTUAL,MODULO_REG_ACTUAL,CLEC_INV_ACTUAL,MATE_INV_ACTUAL,HCSOC_INV_ACTUAL,CIEN_INV_ACTUAL,MODULO_INV_ACTUAL
0,id_0000900170003,10584.0,363.0,3.0,H2,5,13.0,13401.0,"5,03",80,...,402.0,351.0,423.0,0.0,NaN,489.0,318.0,0.0,416.0,BIO
1,id_0000900470024,10250.0,363.0,3.0,H2,1,13.0,13107.0,"5,9",30,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,id_0000900670068,12667.0,310.0,2.0,H1,5,1.0,1101.0,5,100,...,413.0,0.0,489.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,id_0001900070103,7006.0,310.0,2.0,H1,5,14.0,14202.0,"5,6",40,...,437.0,0.0,0.0,478.0,BIO,NaN,NaN,NaN,NaN,NaN
4,id_0001900070149,6752.0,610.0,3.0,T3,5,14.0,14101.0,"5,28",70,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293860,id_9999599979968,31002.0,310.0,2.0,H1,5,14.0,14106.0,"5,98",30,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,485.0,0.0,NaN
293861,id_999990948930,25783.0,410.0,2.0,T1,1,13.0,13129.0,"6,03",50,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
293862,id_999994942103,705.0,510.0,3.0,T2,1,4.0,4301.0,"5,73",40,...,467.0,472.0,400.0,481.0,TEC,NaN,NaN,NaN,NaN,NaN
293863,id_999997943080,NaN,NaN,NaN,NaN,4,NaN,NaN,0,0,...,437.0,0.0,521.0,582.0,QUI,NaN,NaN,NaN,NaN,NaN
293864,id_9999999879976,9877.0,363.0,3.0,H2,1,13.0,13119.0,"5,85",20,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

## 2022

In [47]:
df = pd.read_csv("rendicion/2022/ArchivoC_Adm2022.csv", sep=";", low_memory=False)

In [48]:
df = df.drop(columns=["PROMEDIO_CM_ANTERIOR", "PERCENTIL_CM_ANTERIOR", "MODULO_ANTERIOR", "CIEN_ANTERIOR", "HCSO_ANTERIOR", "MATE_ANTERIOR", "CLEC_ANTERIOR"])

In [49]:
df

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA_EDUCACIONAL,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PORC_SUP_NOTAS,PTJE_NEM,PTJE_RANKING,CLEC_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,MODULO_ACTUAL,PROMEDIO_CM_ACTUAL,PERCENTIL_CM_ACTUAL
0,id_0000900070036,7006.0,310.0,2.0,H1,5,14.0,14202.0,"5,75",20,571,571,0,0,0,0,NaN,0,0
1,id_0000900370001,20443.0,363.0,2.0,H2,1,5.0,5502.0,"6,2",10,671,688,0,0,0,0,NaN,0,0
2,id_0000900370094,20443.0,363.0,2.0,H2,1,5.0,5502.0,"5,77",30,578,597,0,0,0,0,NaN,0,0
3,id_0000900370098,14210.0,310.0,2.0,H1,5,5.0,5502.0,"5,78",40,578,578,438,583,574,470,BIO,"510,5",57
4,id_0000900470074,25818.0,363.0,2.0,H2,5,13.0,13101.0,5,50,403,424,366,325,384,0,NaN,"345,5",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254186,id_9999599979969,6253.0,310.0,2.0,H1,1,9.0,9114.0,"5,63",60,545,548,600,555,538,569,BIO,"577,5",78
254187,id_9999599979970,6163.0,410.0,3.0,T1,5,9.0,9105.0,"5,28",60,468,469,507,310,0,503,BIO,"408,5",19
254188,id_9999599979971,6163.0,610.0,3.0,T3,5,9.0,9105.0,"6,3",10,692,813,463,434,0,455,TEC,"448,5",32
254189,id_9999599979986,6398.0,310.0,4.0,H1,1,9.0,9117.0,"4,85",90,363,363,235,278,350,314,BIO,"256,5",1
254190,id_9999599979998,9332.0,310.0,2.0,H1,1,13.0,13110.0,"5,25",80,459,459,279,409,405,0,NaN,344,5

## 2020

In [58]:
df = pd.read_csv("rendicion/2020/ArchivoC_Adm2020.csv", sep=";", low_memory=False)

In [59]:
df = df.drop(columns=["LENG_ANTERIOR", "MATE_ANTERIOR", "HCSO_ANTERIOR", "CIEN_ANTERIOR", "MODULO_ANTERIOR", "PROMEDIO_LM_ANTERIOR", "PERCENTIL_LM_ANTERIOR"])

In [60]:
df

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA_EDUCACIONAL,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PORC_SUP_NOTAS,PTJE_NEM,PTJE_RANKING,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,MODULO_ACTUAL,PROMEDIO_LM_ACTUAL,PERCENTIL_LM_ACTUAL
0,id_.9+85.97e+83,5219.0,510.0,3.0,T2,1,9.0,9201.0,"4,83",100,372,372,0,0,372,0,NaN,0,0
1,id_0000900070019,22388.0,363.0,2.0,H2,5,14.0,14101.0,"6,33",10,694,731,629,542,0,637,BIO,"585,5",80
2,id_0000900070043,22374.0,363.0,2.0,H2,5,14.0,14101.0,"5,45",50,510,542,385,448,542,451,BIO,"416,5",21
3,id_0000900270075,12696.0,563.0,2.0,T2,1,15.0,15101.0,"4,98",100,405,405,304,444,444,0,NaN,374,10
4,id_0000900470040,24900.0,363.0,3.0,H2,1,13.0,13301.0,"5,45",40,510,547,0,0,547,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292086,id_9999599479904,24482.0,510.0,2.0,T2,1,13.0,13128.0,"5,13",90,438,438,427,498,498,389,TEC,"462,5",37
292087,id_9999599479967,8618.0,310.0,2.0,H1,1,13.0,13101.0,"5,8",40,580,593,559,549,0,542,QUI,554,71
292088,id_9999599479973,20316.0,363.0,2.0,H2,1,16.0,16101.0,"5,3",50,477,477,407,415,477,446,QUI,411,19
292089,id_9999599479977,14373.0,310.0,2.0,H1,1,5.0,5601.0,"5,2",80,451,451,380,332,451,0,NaN,356,6
292090,id_9999599779976,574.0,510.0,2.0,T2,1,4.0,4101.0,"5,48",60,515,515,597,506,597,0,NaN,"551,5",70

## 2017

In [73]:
df = pd.read_csv("rendicion/2020/ArchivoC_Adm2020.csv", sep=";", low_memory=False)

In [74]:
df = df.drop(columns=["LENG_ANTERIOR", "MATE_ANTERIOR", "HCSO_ANTERIOR", "CIEN_ANTERIOR", "MODULO_ANTERIOR", "PROMEDIO_LM_ANTERIOR", "PERCENTIL_LM_ANTERIOR"])

In [75]:
df

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA_EDUCACIONAL,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PORC_SUP_NOTAS,PTJE_NEM,PTJE_RANKING,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,MODULO_ACTUAL,PROMEDIO_LM_ACTUAL,PERCENTIL_LM_ACTUAL
0,id_.9+85.97e+83,5219.0,510.0,3.0,T2,1,9.0,9201.0,"4,83",100,372,372,0,0,372,0,NaN,0,0
1,id_0000900070019,22388.0,363.0,2.0,H2,5,14.0,14101.0,"6,33",10,694,731,629,542,0,637,BIO,"585,5",80
2,id_0000900070043,22374.0,363.0,2.0,H2,5,14.0,14101.0,"5,45",50,510,542,385,448,542,451,BIO,"416,5",21
3,id_0000900270075,12696.0,563.0,2.0,T2,1,15.0,15101.0,"4,98",100,405,405,304,444,444,0,NaN,374,10
4,id_0000900470040,24900.0,363.0,3.0,H2,1,13.0,13301.0,"5,45",40,510,547,0,0,547,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292086,id_9999599479904,24482.0,510.0,2.0,T2,1,13.0,13128.0,"5,13",90,438,438,427,498,498,389,TEC,"462,5",37
292087,id_9999599479967,8618.0,310.0,2.0,H1,1,13.0,13101.0,"5,8",40,580,593,559,549,0,542,QUI,554,71
292088,id_9999599479973,20316.0,363.0,2.0,H2,1,16.0,16101.0,"5,3",50,477,477,407,415,477,446,QUI,411,19
292089,id_9999599479977,14373.0,310.0,2.0,H1,1,5.0,5601.0,"5,2",80,451,451,380,332,451,0,NaN,356,6
292090,id_9999599779976,574.0,510.0,2.0,T2,1,4.0,4101.0,"5,48",60,515,515,597,506,597,0,NaN,"551,5",70