In [72]:
import pandas as pd
import numpy as np

In [65]:
# Se seleccionan solo las columnas necesarias
df2019 = pd.read_csv("datos_utilizados/postulacion/2019/ArchivoD_Adm2019.csv",  sep = ";", low_memory=False)
df2019_filtrado = df2019[["ID_aux", "SITUACION_POSTULANTE", "PTJE_PREF_01", "SITUACION_POSTULANTE_BEA", "PTJE_PREF_01_BEA", "SITUACION_POSTULANTE_PACE", "PTJE_PREF_01_PACE"]]
df2019_filtrado.head()

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900370016,P,"588,55",NaN,NaN,NaN,NaN
1,id_0000900470020,P,"586,5",NaN,NaN,NaN,NaN
2,id_0000900970026,P,"638,3",NaN,NaN,NaN,NaN
3,id_0001900070135,C,0,NaN,NaN,NaN,NaN
4,id_0001900170123,C,0,NaN,NaN,NaN,NaN

In [66]:
df2019_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153354 entries, 0 to 153353
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     153354 non-null  object
 1   SITUACION_POSTULANTE       153354 non-null  object
 2   PTJE_PREF_01               153354 non-null  object
 3   SITUACION_POSTULANTE_BEA   10196 non-null   object
 4   PTJE_PREF_01_BEA           10196 non-null   float64
 5   SITUACION_POSTULANTE_PACE  5621 non-null    object
 6   PTJE_PREF_01_PACE          5621 non-null    float64
dtypes: float64(2), object(5)
memory usage: 8.2+ MB

In [71]:
# Crea una copia para evitar problemas
df2019_filtrado = df2019_filtrado.copy()

# Reemplaza la coma por punto en la columna num√©rica y lo cambia a float
df2019_filtrado["PTJE_PREF_01"] = df2019_filtrado["PTJE_PREF_01"].astype(str).str.replace(',', '.').astype(float)

In [82]:
df2019_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153354 entries, 0 to 153353
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     153354 non-null  object
 1   SITUACION_POSTULANTE       153354 non-null  object
 2   PTJE_PREF_01               153354 non-null  float64
 3   SITUACION_POSTULANTE_BEA   153354 non-null  object
 4   PTJE_PREF_01_BEA           10196 non-null   float64
 5   SITUACION_POSTULANTE_PACE  153354 non-null  object
 6   PTJE_PREF_01_PACE          5621 non-null    float64
dtypes: float64(3), object(4)
memory usage: 8.2+ MB

In [73]:
# Se seleccionan solo las columnas necesarias
df2020 = pd.read_csv("datos_utilizados/postulacion/2020/ArchivoD_Adm2020.csv",  sep = ";", low_memory=False)
df2020_filtrado = df2020[["ID_aux", "SITUACION_POSTULANTE", "PTJE_PREF_01", "SITUACION_POSTULANTE_BEA", "PTJE_PREF_01_BEA", "SITUACION_POSTULANTE_PACE", "PTJE_PREF_01_PACE"]]
df2020_filtrado.head()

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900570066,C,0,NaN,NaN,NaN,NaN
1,id_0000900570071,P,"639,7",NaN,NaN,NaN,NaN
2,id_0000900970028,P,"681,1",NaN,NaN,NaN,NaN
3,id_0000900970096,P,"509,4",NaN,NaN,NaN,NaN
4,id_0002900070228,P,"629,2",P,0.0,NaN,NaN

In [94]:
df2020_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145644 entries, 0 to 145643
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     145644 non-null  object
 1   SITUACION_POSTULANTE       145644 non-null  object
 2   PTJE_PREF_01               145644 non-null  float64
 3   SITUACION_POSTULANTE_BEA   9912 non-null    object
 4   PTJE_PREF_01_BEA           9912 non-null    float64
 5   SITUACION_POSTULANTE_PACE  9937 non-null    object
 6   PTJE_PREF_01_PACE          9937 non-null    float64
dtypes: float64(3), object(4)
memory usage: 7.8+ MB

In [76]:
# Crea una copia para evitar problemas
df2020_filtrado = df2020_filtrado.copy()

# Reemplaza la coma por punto en la columna num√©rica y lo cambia a float
df2020_filtrado["PTJE_PREF_01"] = df2020_filtrado["PTJE_PREF_01"].astype(str).str.replace(',', '.').astype(float)

In [95]:
df2020_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145644 entries, 0 to 145643
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     145644 non-null  object
 1   SITUACION_POSTULANTE       145644 non-null  object
 2   PTJE_PREF_01               145644 non-null  float64
 3   SITUACION_POSTULANTE_BEA   9912 non-null    object
 4   PTJE_PREF_01_BEA           9912 non-null    float64
 5   SITUACION_POSTULANTE_PACE  9937 non-null    object
 6   PTJE_PREF_01_PACE          9937 non-null    float64
dtypes: float64(3), object(4)
memory usage: 7.8+ MB

In [74]:
# Se seleccionan solo las columnas necesarias
df2021 = pd.read_csv("datos_utilizados/postulacion/2021/ArchivoD_Adm2021.csv",  sep = ";", low_memory=False)
df2021_filtrado = df2021[["ID_aux", "SITUACION_POSTULANTE", "PTJE_PREF_01", "SITUACION_POSTULANTE_BEA", "PTJE_PREF_01_BEA", "SITUACION_POSTULANTE_PACE", "PTJE_PREF_01_PACE"]]
df2021_filtrado.head()

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900870002,C,0,NaN,NaN,NaN,NaN
1,id_0001900670106,P,"498,4",NaN,NaN,NaN,NaN
2,id_0002900070273,P,"597,8",NaN,NaN,NaN,NaN
3,id_0003900970368,C,0,NaN,NaN,NaN,NaN
4,id_0004900170477,P,0,NaN,NaN,NaN,NaN

In [93]:
df2021_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140362 entries, 0 to 140361
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     140362 non-null  object
 1   SITUACION_POSTULANTE       140362 non-null  object
 2   PTJE_PREF_01               140362 non-null  float64
 3   SITUACION_POSTULANTE_BEA   10374 non-null   object
 4   PTJE_PREF_01_BEA           10374 non-null   float64
 5   SITUACION_POSTULANTE_PACE  10485 non-null   object
 6   PTJE_PREF_01_PACE          10485 non-null   float64
dtypes: float64(3), object(4)
memory usage: 7.5+ MB

In [79]:
# Crea una copia para evitar problemas
df2021_filtrado = df2021_filtrado.copy()

# Reemplaza la coma por punto en la columna num√©rica y lo cambia a float
df2021_filtrado["PTJE_PREF_01"] = df2021_filtrado["PTJE_PREF_01"].astype(str).str.replace(',', '.').astype(float)

In [96]:
df2021_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140362 entries, 0 to 140361
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     140362 non-null  object
 1   SITUACION_POSTULANTE       140362 non-null  object
 2   PTJE_PREF_01               140362 non-null  float64
 3   SITUACION_POSTULANTE_BEA   10374 non-null   object
 4   PTJE_PREF_01_BEA           10374 non-null   float64
 5   SITUACION_POSTULANTE_PACE  10485 non-null   object
 6   PTJE_PREF_01_PACE          10485 non-null   float64
dtypes: float64(3), object(4)
memory usage: 7.5+ MB

In [39]:
# Se seleccionan solo las columnas necesarias
df2022 = pd.read_csv("datos_utilizados/postulacion/2022/ArchivoD_Adm2022.csv",  sep = ";", low_memory=False)
df2022_filtrado = df2022[["ID_aux", "SITUACION_POSTULANTE", "PTJE_PREF_01", "SITUACION_POSTULANTE_BEA", "PTJE_PREF_01_BEA", "SITUACION_POSTULANTE_PACE", "PTJE_PREF_01_PACE"]]
df2022_filtrado.head()

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900370098,P,"551,1",NaN,NaN,NaN,NaN
1,id_0001900170136,P,"710,4",NaN,NaN,NaN,NaN
2,id_0001900170151,P,0,NaN,NaN,NaN,NaN
3,id_0001900170189,C,0,NaN,NaN,NaN,NaN
4,id_0001900870175,P,"483,1",NaN,NaN,NaN,NaN

In [97]:
df2022_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147728 entries, 0 to 147727
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     147728 non-null  object
 1   SITUACION_POSTULANTE       147728 non-null  object
 2   PTJE_PREF_01               147728 non-null  float64
 3   SITUACION_POSTULANTE_BEA   10217 non-null   object
 4   PTJE_PREF_01_BEA           10217 non-null   float64
 5   SITUACION_POSTULANTE_PACE  10596 non-null   object
 6   PTJE_PREF_01_PACE          10596 non-null   float64
dtypes: float64(3), object(4)
memory usage: 7.9+ MB

In [80]:
# Crea una copia para evitar problemas
df2022_filtrado = df2022_filtrado.copy()

# Reemplaza la coma por punto en la columna num√©rica y lo cambia a float
df2022_filtrado["PTJE_PREF_01"] = df2022_filtrado["PTJE_PREF_01"].astype(str).str.replace(',', '.').astype(float)

In [91]:
df2022_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147728 entries, 0 to 147727
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     147728 non-null  object
 1   SITUACION_POSTULANTE       147728 non-null  object
 2   PTJE_PREF_01               147728 non-null  float64
 3   SITUACION_POSTULANTE_BEA   10217 non-null   object
 4   PTJE_PREF_01_BEA           10217 non-null   float64
 5   SITUACION_POSTULANTE_PACE  10596 non-null   object
 6   PTJE_PREF_01_PACE          10596 non-null   float64
dtypes: float64(3), object(4)
memory usage: 7.9+ MB

In [42]:
# Se seleccionan solo las columnas necesarias
df2023 = pd.read_csv("datos_utilizados/postulacion/2023/ArchivoD_Adm2023.csv",  sep = ";", low_memory=False)
df2023_filtrado = df2023[["ID_aux", "SITUACION_POSTULANTE", "PTJE_PREF_01", "SITUACION_POSTULANTE_BEA", "PTJE_PREF_01_BEA", "SITUACION_POSTULANTE_PACE", "PTJE_PREF_01_PACE"]]
df2023_filtrado.head()

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0001900070103,P,"543,9",NaN,NaN,NaN,NaN
1,id_0001900170136,P,"794,95",NaN,NaN,NaN,NaN
2,id_0001900670175,P,"570,1",NaN,NaN,NaN,NaN
3,id_0001900870116,P,"719,9",NaN,NaN,NaN,NaN
4,id_0002900370264,P,"522,9",NaN,NaN,NaN,NaN

In [81]:
# Crea una copia para evitar problemas
df2023_filtrado = df2023_filtrado.copy()

# Reemplaza la coma por punto en la columna num√©rica y lo cambia a float
df2023_filtrado["PTJE_PREF_01"] = df2023_filtrado["PTJE_PREF_01"].astype(str).str.replace(',', '.').astype(float)

In [90]:
df2023_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186064 entries, 0 to 186063
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID_aux                     186064 non-null  object
 1   SITUACION_POSTULANTE       186064 non-null  object
 2   PTJE_PREF_01               186064 non-null  float64
 3   SITUACION_POSTULANTE_BEA   11456 non-null   object
 4   PTJE_PREF_01_BEA           11456 non-null   float64
 5   SITUACION_POSTULANTE_PACE  15470 non-null   object
 6   PTJE_PREF_01_PACE          15470 non-null   float64
dtypes: float64(3), object(4)
memory usage: 9.9+ MB

In [98]:
dfUnido = pd.concat([df2023_filtrado, df2022_filtrado, df2021_filtrado, df2020_filtrado, df2019_filtrado], axis=0, join="outer").reset_index(drop=True)
dfUnido

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0001900070103,P,543.90,NaN,NaN,NaN,NaN
1,id_0001900170136,P,794.95,NaN,NaN,NaN,NaN
2,id_0001900670175,P,570.10,NaN,NaN,NaN,NaN
3,id_0001900870116,P,719.90,NaN,NaN,NaN,NaN
4,id_0002900370264,P,522.90,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
773147,id_9977599877703,P,622.80,nan,NaN,nan,NaN
773148,id_9979599877997,P,599.20,nan,NaN,P,817.014
773149,id_9985599478544,P,504.80,nan,NaN,nan,NaN
773150,id_9987599278786,P,545.30,nan,NaN,nan,NaN
773151,id_9997599779750,C,0.00,nan,NaN,nan,NaN

In [99]:
# se cambia la primera parte de los codigos de id con .replace pero se mantiene su tipo como str
dfUnido["ID_aux"] = dfUnido["ID_aux"].replace("id_", "", regex=True)
dfUnido

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,0001900070103,P,543.90,NaN,NaN,NaN,NaN
1,0001900170136,P,794.95,NaN,NaN,NaN,NaN
2,0001900670175,P,570.10,NaN,NaN,NaN,NaN
3,0001900870116,P,719.90,NaN,NaN,NaN,NaN
4,0002900370264,P,522.90,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
773147,9977599877703,P,622.80,nan,NaN,nan,NaN
773148,9979599877997,P,599.20,nan,NaN,P,817.014
773149,9985599478544,P,504.80,nan,NaN,nan,NaN
773150,9987599278786,P,545.30,nan,NaN,nan,NaN
773151,9997599779750,C,0.00,nan,NaN,nan,NaN

In [101]:
# se reemplazan los posibles valores "vacios" con NaN pero no se eliminan debido a la gran cantidad de valores que pueden haber
# y no nos interesa quedarnos sin datos, solo saber cuales son NaN
dfUnido = dfUnido.replace('*', np.nan)
dfUnido = dfUnido.replace('None', np.nan)
dfUnido = dfUnido.replace(' ', np.nan)
dfUnido = dfUnido.replace(-999, np.nan)

In [103]:
dfUnido.to_csv("Dataframe_postulaciones", index=False)