## Inscripcion

In [2]:
import pandas as pd

## 2023

In [5]:
df = pd.read_csv("datos_utilizados/admision/2023/ArchivoB_Adm2023.csv", sep=";", low_memory=False)

In [6]:
df

,ID_aux,ANYO_PROCESO,SEXO,RBD,COD_ENS,REGIMEN,RAMA_EDUCACIONAL,GRUPO_DEPENDENCIA,FECHA_NACIMIENTO,ANYO_EGRESO,CODIGO_REGION,CODIGO_PROVINCIA,CODIGO_COMUNA,CODIGO_REGION_D,CODIGO_COMUNA_D,SITUACION_EGRESO,BEA,PACE,PAIS_NACIMIENTO,INGRESO_PERCAPITA_GRUPO_FA
0,id_9265592376510,2023,1,1.0,510.0,3.0,T2,4.0,92004,2022.0,15.0,151.0,15101.0,15,15101,1,NaN,PACE,210,2
1,id_9492594679209,2023,1,1.0,510.0,3.0,T2,4.0,62004,2021.0,15.0,151.0,15101.0,15,15101,5,NaN,NaN,210,2
2,id_9325593372588,2023,1,1.0,510.0,3.0,T2,4.0,22005,2022.0,15.0,151.0,15101.0,15,15101,1,BEA,PACE,210,2
3,id_3443934474359,2023,1,1.0,510.0,3.0,T2,4.0,61992,2010.0,15.0,151.0,15101.0,15,15101,5,NaN,NaN,210,1
4,id_9355593175583,2023,1,1.0,510.0,3.0,T2,4.0,122004,2022.0,15.0,151.0,15101.0,15,15101,1,NaN,PACE,210,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293860,id_9162591776233,2023,1,NaN,NaN,NaN,NaN,NaN,112003,2022.0,13.0,131.0,NaN,13,13125,2,NaN,NaN,210,99
293861,id_6620966272093,2023,2,NaN,NaN,NaN,NaN,NaN,61998,2016.0,4.0,41.0,NaN,4,4101,6,NaN,NaN,210,1
293862,id_8886588078640,2023,2,NaN,NaN,NaN,NaN,NaN,61999,2019.0,9.0,91.0,NaN,9,9101,6,NaN,NaN,210,2
293863,id_3253532675336,2023,2,NaN,NaN,NaN,NaN,NaN,102002,2021.0,NaN,NaN,NaN,1,1101,8,NaN,NaN,290,8
293864,id_8843588774312,2023,1,NaN,NaN,NaN,NaN,NaN,101998,2019.0,8.0,81.0,NaN,8,8105,6,NaN,NaN,210,99

## 2022

In [12]:
df = pd.read_csv("datos_utilizados/admision/2022/ArchivoB_Adm2022.csv", sep=";", low_memory=False)

In [14]:
df

,ID_aux,ANYO_PROCESO,ANYO_EGRESO,RBD,COD_ENS,REGIMEN,RAMA_EDUCACIONAL,GRUPO_DEPENDENCIA,CODIGO_REGION,CODIGO_PROVINCIA,...,CUANTOS_TRABAJAN_GRUPO_FAM,PERSONAS_ESTUDIAN_SUP,INGRESO_PERCAPITA_GRUPO_FA,EDUCACION_MADRE,COMPLETO_EDUCACION_MADRE,EDUCACION_PADRE,COMPLETO_EDUCACION_PADRE,ESTUDIO_INSTITUCION_SUPERIOR,TIPO_INSTITUCION,TITULACION_CARRERA
0,id_9772597777240,2022,2021,1.0,510.0,3.0,T2,4.0,15.0,151.0,...,16,1,1.0,7.0,S,7.0,9,N,NaN,NaN
1,id_9962599176250,2022,2021,1.0,510.0,3.0,T2,4.0,15.0,151.0,...,1,1,1.0,7.0,S,13.0,NaN,N,NaN,NaN
2,id_8014580571459,2022,2019,1.0,510.0,3.0,T2,4.0,15.0,151.0,...,2,1,2.0,7.0,S,9.0,S,N,NaN,NaN
3,id_7666576676693,2022,2021,1.0,510.0,3.0,T2,4.0,15.0,151.0,...,3,4,1.0,5.0,N,5.0,N,N,NaN,NaN
4,id_7085570978516,2022,2021,1.0,510.0,3.0,T2,4.0,15.0,151.0,...,1,16,8.0,5.0,S,5.0,S,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281489,id_9959599075924,2022,2021,NaN,NaN,NaN,NaN,NaN,5.0,58.0,...,1,1,4.0,11.0,S,11.0,S,N,NaN,NaN
281490,id_1349513674995,2022,2020,NaN,NaN,NaN,NaN,NaN,3.0,31.0,...,16,16,1.0,7.0,S,7.0,N,S,3.0,N
281491,id_0687906678707,2022,2014,NaN,NaN,NaN,NaN,NaN,13.0,131.0,...,99,16,1.0,7.0,S,7.0,S,N,NaN,NaN
281492,id_9466594376617,2022,2021,NaN,NaN,NaN,NaN,NaN,2.0,21.0,...,1,16,99.0,5.0,S,11.0,S,N,NaN,NaN
281493,id_0844908274490,2022,2020,NaN,NaN,NaN,NaN,NaN,13.0,131.0,...,1,16,8.0,13.0,NaN,13.0,NaN,N,NaN,NaN

## 2020

In [16]:
df = pd.read_csv("datos_utilizados/admision/2020/ArchivoB_Adm2020.csv", sep=";", low_memory=False)

In [18]:
df

,ID_aux,ANYO_PROCESO,ANYO_EGRESO,RBD,COD_ENS,REGIMEN,RAMA_EDUCACIONAL,GRUPO_DEPENDENCIA,SITUACION_EGRESO,CODIGO_REGION,...,INGRESO_MENSUAL_TOTAL,EDUCACION_MADRE,COMPLETO_EDUCACION_MADRE,EDUCACION_PADRE,COMPLETO_EDUCACION_PADRE,ESTUDIO_INSTITUCION_SUPERIOR,TIPO_INSTITUCION,INSTITUCION_SUPERIOR,CARRERA_INSTITUCION_SUPERIOR,TITULACION_CARRERA
0,id_.9+85.97e+83,2020,2019,5219.0,510.0,3.0,T2,3.0,1.0,9.0,...,170000.0,5.0,N,5.0,N,N,NaN,NaN,NaN,NaN
1,id_0000900070019,2020,2014,22388.0,363.0,3.0,H2,2.0,5.0,14.0,...,400000.0,7.0,N,7.0,S,N,NaN,NaN,NaN,NaN
2,id_0000900070043,2020,2014,22374.0,363.0,3.0,H2,2.0,5.0,14.0,...,220000.0,13.0,NaN,13.0,NaN,N,NaN,NaN,NaN,NaN
3,id_0000900070071,2020,2019,40447.0,363.0,3.0,H2,2.0,NaN,10.0,...,350000.0,13.0,NaN,5.0,N,N,NaN,NaN,NaN,NaN
4,id_0000900270075,2020,2019,12696.0,563.0,3.0,T2,2.0,1.0,15.0,...,80000.0,13.0,NaN,13.0,NaN,N,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305460,id_9999599479904,2020,2019,24482.0,510.0,3.0,T2,2.0,1.0,13.0,...,270000.0,5.0,S,1.0,NaN,N,NaN,NaN,NaN,NaN
305461,id_9999599479967,2020,2019,8618.0,310.0,2.0,H1,2.0,1.0,13.0,...,1111000.0,7.0,S,9.0,S,N,NaN,NaN,NaN,NaN
305462,id_9999599479973,2020,2019,20316.0,363.0,3.0,H2,2.0,1.0,16.0,...,2900000.0,11.0,S,11.0,S,N,NaN,NaN,NaN,NaN
305463,id_9999599479977,2020,2019,14373.0,310.0,3.0,H1,2.0,1.0,5.0,...,180000.0,5.0,S,7.0,N,N,NaN,NaN,NaN,NaN
305464,id_9999599779976,2020,2019,574.0,510.0,1.0,T2,2.0,1.0,4.0,...,250000.0,10.0,S,13.0,NaN,N,NaN,NaN,NaN,NaN

## 2017

In [20]:
df = pd.read_csv("datos_utilizados/admision/2017/ArchivoB_Adm2017.csv", sep=";", low_memory=False)

In [21]:
df

,ID_aux,ANYO_PROCESO,NACIONALIDAD,PAIS_NACIONALIDAD,SEXO,CODIGO_REGION_D,CODIGO_PROVINCIA_D,CODIGO_COMUNA_D,ANYO_EGRESO,FECHA_NACIMIENTO,...,PERSONAS_ESTUDIAN_MEDIA,PERSONAS_ESTUDIAN_4TOMEDIO,PERSONAS_ESTUDIAN_SUP,PERSONAS_ESTUDIAN_OTRAS,EDUCACION_PADRE,EDUCACION_MADRE,INSTITUCION_SUPERIOR,BEA,PACE,RINDIO_PROCESO
0,id_309743076974,2017.0,1.0,210.0,1.0,13.0,131.0,13128.0,2016.0,81950,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,,,1.0
1,id_088140874810,2017.0,1.0,210.0,2.0,8.0,81.0,8112.0,0.0,111951,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,,,1.0
2,id_665046670502,2017.0,1.0,210.0,1.0,5.0,51.0,5101.0,2016.0,71950,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,,,1.0
3,id_832428372240,2017.0,1.0,210.0,1.0,13.0,136.0,13605.0,2016.0,111950,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,,1.0
4,id_806228075623,2017.0,1.0,210.0,1.0,5.0,51.0,5101.0,2016.0,41952,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,BEA,,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296850,id_66966265925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296851,id_06580660280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296852,id_76597261686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296853,id_86558766469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296854,id_36553469431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN