## Postulaciones

In [1]:
import pandas as pd

## 2023

In [21]:
df = pd.read_csv("datos_utilizados/postulacion/2023/ArchivoD_Adm2023.csv", sep=";", low_memory=False)

In [22]:
conservar =  ["ID_aux","SITUACION_POSTULANTE","PTJE_PREF_01","SITUACION_POSTULANTE_BEA","PTJE_PREF_01_BEA","SITUACION_POSTULANTE_PACE","PTJE_PREF_01_PACE"]
df = df.drop(columns=[col for col in df.columns if col not in conservar])

In [23]:
df

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0001900070103,P,"543,9",NaN,NaN,NaN,NaN
1,id_0001900170136,P,"794,95",NaN,NaN,NaN,NaN
2,id_0001900670175,P,"570,1",NaN,NaN,NaN,NaN
3,id_0001900870116,P,"719,9",NaN,NaN,NaN,NaN
4,id_0002900370264,P,"522,9",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
186059,id_9999599979931,P,"506,9",NaN,NaN,NaN,NaN
186060,id_9999599979949,P,"539,3",NaN,NaN,NaN,NaN
186061,id_9999599979953,P,"684,9",NaN,NaN,NaN,NaN
186062,id_9999599979968,P,"593,3",NaN,NaN,NaN,NaN
186063,id_999997943080,P,"533,6",NaN,NaN,NaN,NaN

In [24]:
df.dtypes

ID_aux                        object
SITUACION_POSTULANTE          object
PTJE_PREF_01                  object
SITUACION_POSTULANTE_BEA      object
PTJE_PREF_01_BEA             float64
SITUACION_POSTULANTE_PACE     object
PTJE_PREF_01_PACE            float64
dtype: object

## 2022

In [7]:
df = pd.read_csv("datos_utilizados/postulacion/2022/ArchivoD_Adm2022.csv", sep=";", low_memory=False)

In [35]:
conservar =  ["ID_aux","SITUACION_POSTULANTE","PTJE_PREF_01","SITUACION_POSTULANTE_BEA","PTJE_PREF_01_BEA","SITUACION_POSTULANTE_PACE","PTJE_PREF_01_PACE"]
df = df.drop(columns=[col for col in df.columns if col not in conservar])

In [36]:
df

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900370098,P,"551,1",NaN,NaN,NaN,NaN
1,id_0001900170136,P,"710,4",NaN,NaN,NaN,NaN
2,id_0001900170151,P,0,NaN,NaN,NaN,NaN
3,id_0001900170189,C,0,NaN,NaN,NaN,NaN
4,id_0001900870175,P,"483,1",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
147723,id_9999599979966,P,"571,25",NaN,NaN,NaN,NaN
147724,id_9999599979967,P,"651,45",NaN,NaN,NaN,NaN
147725,id_9999599979968,P,"610,95",NaN,NaN,NaN,NaN
147726,id_9999599979969,P,"559,05",NaN,NaN,NaN,NaN
147727,id_9999599979971,P,"582,05",NaN,NaN,NaN,NaN

## 2021

In [40]:
df = pd.read_csv("datos_utilizados/postulacion/2021/ArchivoD_Adm2021.csv", sep=";", low_memory=False)

In [41]:
conservar =  ["ID_aux","SITUACION_POSTULANTE","PTJE_PREF_01","SITUACION_POSTULANTE_BEA","PTJE_PREF_01_BEA","SITUACION_POSTULANTE_PACE","PTJE_PREF_01_PACE"]
df = df.drop(columns=[col for col in df.columns if col not in conservar])

In [44]:
df

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900870002,C,0,NaN,NaN,NaN,NaN
1,id_0001900670106,P,"498,4",NaN,NaN,NaN,NaN
2,id_0002900070273,P,"597,8",NaN,NaN,NaN,NaN
3,id_0003900970368,C,0,NaN,NaN,NaN,NaN
4,id_0004900170477,P,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
140357,id_9999599979980,C,0,NaN,NaN,C,0.0
140358,id_9999599979989,P,"534,9",NaN,NaN,NaN,NaN
140359,id_9999599979991,P,"469,2",NaN,NaN,NaN,NaN
140360,id_9999599979997,P,"630,8",P,0.0,P,0.0
140361,id_9999599979999,C,0,NaN,NaN,C,0.0

## 2020

In [46]:
df = pd.read_csv("datos_utilizados/postulacion/2020/ArchivoD_Adm2020.csv", sep=";", low_memory=False)

In [47]:
conservar =  ["ID_aux","SITUACION_POSTULANTE","PTJE_PREF_01","SITUACION_POSTULANTE_BEA","PTJE_PREF_01_BEA","SITUACION_POSTULANTE_PACE","PTJE_PREF_01_PACE"]
df = df.drop(columns=[col for col in df.columns if col not in conservar])

In [48]:
df

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900570066,C,0,NaN,NaN,NaN,NaN
1,id_0000900570071,P,"639,7",NaN,NaN,NaN,NaN
2,id_0000900970028,P,"681,1",NaN,NaN,NaN,NaN
3,id_0000900970096,P,"509,4",NaN,NaN,NaN,NaN
4,id_0002900070228,P,"629,2",P,0.0,NaN,NaN
...,...,...,...,...,...,...,...
145639,id_9998599479887,C,0,NaN,NaN,C,0.0
145640,id_9998599979836,P,"620,7",NaN,NaN,P,0.0
145641,id_9998599979867,P,"524,45",P,0.0,NaN,NaN
145642,id_9999599479967,P,"564,6",NaN,NaN,NaN,NaN
145643,id_9999599779976,P,"540,1",NaN,NaN,NaN,NaN

## 2019

In [52]:
df = pd.read_csv("datos_utilizados/postulacion/2019/ArchivoD_Adm2019.csv", sep=";", low_memory=False)

In [53]:
conservar =  ["ID_aux","SITUACION_POSTULANTE","PTJE_PREF_01","SITUACION_POSTULANTE_BEA","PTJE_PREF_01_BEA","SITUACION_POSTULANTE_PACE","PTJE_PREF_01_PACE"]
df = df.drop(columns=[col for col in df.columns if col not in conservar])

In [54]:
df

,ID_aux,SITUACION_POSTULANTE,PTJE_PREF_01,SITUACION_POSTULANTE_BEA,PTJE_PREF_01_BEA,SITUACION_POSTULANTE_PACE,PTJE_PREF_01_PACE
0,id_0000900370016,P,"588,55",NaN,NaN,NaN,NaN
1,id_0000900470020,P,"586,5",NaN,NaN,NaN,NaN
2,id_0000900970026,P,"638,3",NaN,NaN,NaN,NaN
3,id_0001900070135,C,0,NaN,NaN,NaN,NaN
4,id_0001900170123,C,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
153349,id_9977599877703,P,"622,8",NaN,NaN,NaN,NaN
153350,id_9979599877997,P,"599,2",NaN,NaN,P,817.014
153351,id_9985599478544,P,"504,8",NaN,NaN,NaN,NaN
153352,id_9987599278786,P,"545,3",NaN,NaN,NaN,NaN
153353,id_9997599779750,C,0,NaN,NaN,NaN,NaN